layout {
    pane split_direction="vertical" {
        pane {
            command "fish"
            args "--login" "--interactive" "--command" "direnv exec . docker compose up" 
            name "Database"
            cwd "~/work/elixir-wholesale"
        }
        pane {
            command "fish"
            args "--login" "--interactive" "--command" "direnv exec . mix phx.server" 
            name "Elixir"
            cwd "~/work/elixir-wholesale"
        }
    }
    pane split_direction="vertical" {
        pane {
            command "fish"
            args "--login" "--interactive" "--command" "direnv exec . yarn serve" 
            name "Javascript"
            cwd "~/work/wholesale-club"
        }
    }
}
